
body {
	background-color: #bfe5fa;	
	font-size: 110%;
	font-family:Georgia, 'Times New Roman', Times, serif;
	line-height: 1.75em;
}
		
h1   {	
	text-align: center;
	font-size: 250%;
	text-shadow: 3px 3px 3px #F4E8BC;
}	

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 1em;
}

.text {
	width: 30%;
	text-align: center;
	
}

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	gap: 6.5em;
}

.footer div:last-child {
	margin-left: auto;
}

.footer img {
	height: 12em;
	width: 14em;
}

.contact 	{	
	display: flex;
	align-items: center;
	flex-direction: column;
	height: auto;
	
}

.contact textarea {
	margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
	#laptop {
		display: none;
	}
	.text {
		width: 100%;
	}
	.footer {
		justify-content: center;
		flex-direction: column;
	}
	#double-image {
		height: 18em;
		width: 32em;
	}
	
	.footer div:last-child {
		margin: auto;
	}

}