
body {
	background-color: #bfe5fa;	
	font-size: 120%;
	font-family:Georgia, 'Times New Roman', Times, serif;
	line-height: 1.75em;
}

.header {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.dark-mode {
	background-color: black;
	color: whitesmoke;
}

.dark-mode h1 {
	text-shadow: none;
	color: black;
}

#darkModeBtn {
	background-color: aliceblue;
	font-size: 1em;
	border-radius: 5px;
	padding: 0.25em;
	height: 4em;
	width: 4em;
}
		
h1   {	
	
	font-size: 250%;
	text-shadow: 3px 3px 3px #F4E8BC;
	background-color: cyan;
	border-radius: 10px;
	padding: 0.25em;
}	

#laptop {
	height: 13em;
	width: 18em;
	border-radius: 10px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0.5em 2em 1em;
}

.text {
	width: 30%;
	text-align: center;
}

#more {
	display: none;
}

#showTextBtn {
	background-color: cyan;
	border-radius: 5px;
	padding: 0.25em;
}

#showTextBtn:hover {
	text-decoration: underline;
	padding: 0.5em;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	gap: 5em;
	
}

.footer div:last-child {
	margin-left: auto;
}

.footer img {
	border-radius: 10px;
	height: 12em;
	width: 14em;
}

.footer img:hover{
	transform: scale(1.25);
	}

.contact 	{	
	display: flex;
	align-items: center;
	flex-direction: column;
	height: auto;
	
}

.contact textarea {
	margin: 0.5em 5em;
}

@media only screen and (max-width: 600px) {
	#laptop {
		display: none;
	}
	.text {
		width: 100%;
	}
	.footer {
		justify-content: center;
		flex-direction: column;
	}
	#double-image {
		height: 18em;
		width: 32em;
	}
	
	.footer div:last-child {
		margin: auto;
	}

}